certifi==2026.7.22
cffi==2.1.0
charset-normalizer==3.4.9
gevent==26.7.0
greenlet==3.5.4
greenswitch==0.0.19
idna==3.18
pycparser==3.0
requests==2.34.2
six==1.17.0
urllib3==2.7.0
zope.event==6.2
zope.interface==8.5
